html, body {
    background-color: #303F9F;

    padding: 5%;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

header {
    font-size: 2em;
}

#import-img {
    width: 100%;
    height: auto;
    margin-bottom: 10vh;
}

#play-badge {
    width: 15em;
    height: auto;
}